{% extends "base.html" %}

{% block content %}

<h2 class="container" style="width: 35%; font-size: 50px; color: rgb(155, 9, 9);">Fotoğraf Ekleme Sayfası</h2>


<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label style="font-size: 25px; color: rgb(155, 9, 9);" for="image" class="form-label">Fotoğraf:</label>
            <div class="border border-danger p-2 mb-2 border-opacity-50">
                <input type="file" class="form-control" id="image" name="image">
            </div>
        </div>

        <div class="mb-3">
            <label style="font-size: 25px; color: rgb(155, 9, 9);" for="message" class="form-label">Açıklama:</label>
            <div class="border border-danger p-2 mb-2 border-opacity-50">
                <textarea class="form-control" id="message" name="message" rows="5"></textarea>
            </div>  
        </div>

        <button type="submit" class="btn btn-danger">Kaydet</button>

    </form>
</div>

{% endblock %}

